.Builder {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: 1rem 2rem;
}

.Builder__info {
  width: 100%;
  padding-left: 2rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Builder__card {
  margin-right: 2rem;
  margin-bottom: 1.4rem;

  display: flex;
  flex-direction: column;
}

.Builder__input {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.Builder__input--summary {
  resize: none;

  flex-grow: 1;
  flex-basis: 143px;
}

.Skill__input {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.Builder__section {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  margin-bottom: 3rem;
}

.Education__input {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.Builder__button {
  width: 5rem;
  height: 2rem;
}

.Button--delete {
  height: 2rem;
  width: 2rem;
}
