.Builder {
  display: flex;
  justify-content: center;

  padding: 1rem 2rem;
}

.Builder__info {
  width: 100%;
  padding-left: 2rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Builder__card {
  margin-right: 2rem;
  margin-bottom: 1.4rem;

  display: flex;
  flex-direction: column;
}

.Builder__input {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.Builder__input--summary {
  resize: none;

  flex-grow: 1;
  flex-basis: 143px;
}
