.PreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  --height-of-a4: 842px;
  --width-of-a4: 595px;

  padding: 2rem 0;
}

.DownloadLink {
  padding: 1.4rem;

  text-decoration: none;
  color: white;

  background-color: #6ddf7c;

  border-radius: 5px;
  margin-top: 1.5rem;

  cursor: pointer;
  user-select: none;
}

.DownloadLink:hover {
  background-color: #61b36c;
}
