.ImagePicker__display {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 3px;
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin-bottom: 5px;
}

.ImagePicker__image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.ImagePicker__input {
  width: 78px;
  overflow: hidden;
}
